{% extends 'all_incidents_list.html' %}
{%comment%}
    List of incidents in the DB submitted by the currently logged-in user, displayed in a jQuery datatable which is handled by the listable template tag.
{%endcomment%}
{% load staticfiles %}
{% load listable %}

{% block title %}Your Submitted Incidents{% endblock title %}

{% block page_title %}<h3>Your Submitted Incidents</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'incidents_nsir:my-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}


{% block page_description %}
    <p>All incidents submitted by you</p>
{% endblock page_description %}
