{% extends 'base.html' %}

{% load static %}
{% load listable %}

{% block extra_css %}
    {% listable_css %}
{% endblock extra_css %}

{% block extra_js %}
    <script src="{% static 'incidents_nsir/js/list_nsir.js' %}"></script>
    {% listable 'incidents_nsir:triage' save_state=True css_input_class="input-xs " %}
{% endblock extra_js %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        {{listable_table}}
    </div>
</div>
{% endblock content %}

