{% extends "base.html" %}

{% load i18n %}

{% block body_class %}account{% endblock %}

{% block subnav %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Account" %}</li>
        {% comment%}
        <li><a href="{% url acct_email %}">{% trans "Email Addresses" %}</a></li>
        <li><a href="{% url auth_password_reset %}">{% trans "Set Password" %}</a></li>
        {% endcomment %}
        <li><a href="">{% trans "Account Details" %}</a></li>
        <li><a href="">{% trans "Change Password" %}</a></li>
        <li><a href="">{% trans "Reset Password" %}</a></li>
        {% comment %}
            <li><a href="{% url acct_language_change %}">{% trans "Language" %}</a></li>
            <li><a href="{% url acct_timezone_change %}">{% trans "Timezone" %}</a></li>
        {% endcomment %}
    </ul>
{% endblock %}
