{% extends "incidents_nsir/base_nsir.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h3>{% trans 'Enter new password' %}</h3>

<p>{% trans "Please enter your new password twice to verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><button class="btn btn-primary pull-left my-shader" type="submit">{% trans 'Change your password' %}</button></p>
</form>

{% else %}

<h3>{% trans 'Password reset unsuccessful' %}</h3>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
<br><br>
<p>
    A complete tutorial for resetting your password is <a href="http://172.26.66.41/depdocs/node/2513">available on DepDocs.</a>
</p>

{% endblock %}
